{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ff9800">
    <meta name="msapplication-navbutton-color" content="#ff9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ff9800">
    <title>merch-market | Welcome Page</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static '/assets/css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/materialdesignicons.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static '/assets/css/vendor/bootstrap.min.css' %}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static '/assets/css/vendor/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/jquery.horizontalmenu.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/jquery-stack-menu.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/nice-select.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/vendor/nouislider.min.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/colors/orange-color.css' %}" id="colorswitch">
</head>

<body>
    <div class="wrapper">
        <!-- Start main-content -->
        <main class="main-content dt-sl mt-4 mb-3">
            <div class="container main-container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                        <div class="logo-area text-center mb-3">
                            <a href="#"><img src="{% static '/assets/img/logo.png' %}" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="auth-wrapper form-ui border pt-4">
                            <div class="section-title title-wide mb-1 pb-0 no-after-title-wide">
                                <h2 class="font-weight-bold">به مرچ مارکت خوش آمدید</h2>
                            </div>
                            <div class="circle-box-icon">
                                <i class="mdi mdi-account-circle-outline"></i>
                            </div>
                            <h5 class="text-center font-weight-bold">حساب کاربری شما در مرچ مارکت ساخته شد</h5>
                            <div class="message-light">
                                اکنون می‌توانید به صفحه‌ای که در آن بودید بازگردید و یا با تکمیل اطلاعات حساب کاربری خود
                                به کلیه امکانات و سرویس‌های تاپ کالا و سرویس‌های وابسته به آن دسترسی داشته باشید
                            </div>
                            <div class="text-center mt-5 mb-4">
                                <a href="{% url 'profile_edit' %}" class="btn-primary-cm btn-with-icon">
                                    <i class="mdi mdi-account-circle-outline"></i>
                                    تکمیل حساب کاربری
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End main-content -->
        <!-- Start mini-footer -->
        <footer class="mini-footer dt-sl">
            <div class="container main-container">
                <div class="row">
                    <div class="col-12">
                        <ul class="mini-footer-menu">
                            <li><a href="{% url 'app_market:blog' %}">درباره مرچ مارکت</a></li>
                        </ul>
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <div class="footer-light-text">
                            مرچ مارکت
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="copy-right-mini-footer">
                            merch market
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End mini-footer -->
    </div>
    <!-- Core JS Files -->
    <script src="{% static '/assets/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/bootstrap.min.js' %}"></script>
    <!-- Plugins -->
    <script src="{% static '/assets/js/vendor/bootstrap-slider.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/owl.carousel.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/owl.carousel2.thumbs.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/nouislider.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery.horizontalmenu.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery-stack-menu.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/jquery.fancybox.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/countdown.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/wNumb.js' %}"></script>
    <script src="{% static '/assets/js/vendor/ResizeSensor.min.js' %}"></script>
    <script src="{% static '/assets/js/vendor/theia-sticky-sidebar.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static '/assets/js/main.js' %}"></script>
</body>

</html>